{% extends 'base.html' %}
{% block content %}
<div class="mx-auto py-10 px-4 sm:py- xl:px-0 sm:max-w-xl">
    <div class="">
        <div class="border shadow rounded-xl">
            <div class="border-b">
                <div class="h-12 flex items-center justify-between rounded-t space-x-4 px-4">
                    <h2 class="text-md font-medium text-gray-900">{% if request.user.is_authenticate %}{{ client.first_name }} {{ client.last_name }}{% else %}Анонимный пользователь{% endif %}</h2>
                </div>
            </div>
            <div class="h-96 p-2 overflow-y-auto" id="agent-chat-window">
                {% for data in object.messages.all %}
                {% if data.is_agent %}
                <div class="text-right">
                    <div class="mb-2 text-white bg-gray-600 rounded-lg p-2 inline-block text-sm">
                        <span class="">{{data.content}}</span>
                        <span class="-mb-1 block w-full text-xs text-gray-200 text-end">{{data.created_at_formatted}}</span>
                    </div>
                </div>
                {% else %}
                <div class="">
                    <div class="mb-2 bg-gray-200 text-gray-900 rounded-lg p-2 inline-block text-sm">
                        <span class="">{{data.content}}</span>
                        <span class="-mb-1 block w-full text-xs text-gray-400 text-end">{{data.created_at_formatted}}</span>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    
            <div class="border-t border-gray-200 h-12 flex align-middle justify-between">
                <div class="flex items-center justify-between w-full">
                    <input id="agent-chat-input" type="text" name="send" class="block w-full bg-transparent border-none rounded-lg text-sm h-full border-transparent p-4 text-gray-900 focus:border-transparent focus:outline-none focus:ring-0" placeholder="Сообщение">
                    <div class="flex items-center justify-between">
                        <button id="agent-chat-send-message" type="button" disabled class="inline-flex items-center rounded-full border border-transparent p-2 text-blue-500 hover:text-blue-600 duration-150 disabled:cursor-not-allowed disabled:text-gray-400">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const sendChatMessageBtnAdmin = document.getElementById("agent-chat-send-message");
    const chatInputAdmin = document.getElementById("agent-chat-input");
    const chatWindowAdmin = document.getElementById("agent-chat-window");
    const chatId = window.location.pathname.split('/')[2]
    const chatSocketAdmin = new WebSocket(`ws://${window.location.host}/ws/${chatId}/`);
    
    scrollToBottomAdmin()

    function scrollToBottomAdmin() {
        chatWindowAdmin.scrollTop = chatWindowAdmin.scrollHeight
    }

    function checkInputAdmin() {
        if (chatInputAdmin.value === '') {
            sendChatMessageBtnAdmin.disabled = true;
        } else {
            sendChatMessageBtnAdmin.disabled = false;
        }
    }

    chatInputAdmin.addEventListener('input', checkInputAdmin)
    
    function onChatMessageAdmin(data) {
        if (data.type === 'chat_message') {
            if (data.is_agent) {
                chatWindowAdmin.innerHTML += `
                <div class="text-right">
                    <div class="mb-2 text-white bg-gray-600 rounded-lg p-2 inline-block text-sm">
                        <span class="">${data.content}</span>
                        <span class="-mb-1 block w-full text-xs text-gray-200 text-end">${data.created_at_formatted}</span>
                    </div>
                </div>
                `
            } else {
                chatWindowAdmin.innerHTML += `
                <div class="">
                    <div class="mb-2 bg-gray-200 text-gray-900 rounded-lg p-2 inline-block text-sm">
                        <span class="">${data.content}</span>
                        <span class="-mb-1 block w-full text-xs text-gray-400 text-end">${data.created_at_formatted}</span>
                    </div>
                </div>
                `
            }
        }
        scrollToBottomAdmin()
    }

    chatSocketAdmin.onmessage = function(e) {
        console.log("ON MESSAGE");
        onChatMessageAdmin(JSON.parse(e.data))
    }

    chatSocketAdmin.onclose = function(e) {
        console.log("ON CLOSE");
    }

    chatSocketAdmin.onopen = function(e) {
        console.log("ON OPEN");
    }

    chatInputAdmin.onkeyup = function(e) {
        if (e.keyCode == 13 && chatInputAdmin.value !== '') {
            sendMessageAdmin()
            checkInputAdmin()
        }
    }

    function sendMessageAdmin() {
        chatSocketAdmin.send(JSON.stringify({
            'type': 'message',
            'content': chatInputAdmin.value,
            'is_agent': true
        }))

        chatInputAdmin.value = ''
    }

    sendChatMessageBtnAdmin.onclick = function(e) {
        e.preventDefault()
        if (chatInputAdmin.value !== '') {
            sendMessageAdmin()
        }
        return false
    }
</script>
{% endblock content %}